<section class="footer-nav">
	<div class="container footer-nav--position">
		<div class="row">
			<div class="col-8">
				<ul class="footer-nav__list d-flex">
					<li class="footer-nav__item"><a href="#"> Home</a></li>
					<li class="footer-nav__item"><a href="#"> About us</a></li>
					<li class="footer-nav__item"><a href="#"> Services</a></li>
					<li class="footer-nav__item"><a href="#"> Portfolio</a></li>
					<li class="footer-nav__item"><a href="#"> Blog</a></li>
					<li class="footer-nav__item"><a href="#"> Contact us</a></li>
				</ul>
			</div>
			<div class="col-4 d-inline-block">
				<p class="footer-nav__description">Created by akhouad 2016. All Rights Reserved</p>
				<div class="footer-nav__links d-flex justify-content-end">
					<span class="ion-social-facebook footer-nav__icon footer-nav__icon--facebook"></span>
					<span class="ion-social-twitter footer-nav__icon footer-nav__icon--twitter"></span>
					<span class="ion-social-youtube footer-nav__icon footer-nav__icon--youtube"></span>
					<span class="ion-social-linkedin footer-nav__icon footer-nav__icon--linkedin"></span>
					<span class="ion-social-pinterest footer-nav__icon footer-nav__icon--pinterest"></span>
					<span class="ion-social-instagram footer-nav__icon footer-nav__icon--instagram"></span>
				</div>
			</div>
		</div>
	</div>
</section>
