<section class="think">
	<div class="container">
		<div class="row">
			<div class="col">
				<h3 class="think-title">You think we're coll ? Let's work together</h3>
				<a class="think-button" href="#">get in touch</a>
			</div>
			<div class="col">
				<div class="think__box">
					<h3 class="think__box-title">Stay informed with our newsletter</p>
					<p class="think__box-description">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit,
						sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
					</p>
					<form>
						<div class="form-group row">
						  <input type="text" class="form-control" id="" placeholder="your email">
							<button type="submit" name="button">Send</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>
